127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{es_nodenames.0.node1_public_ip}}    {{es_nodenames.0.node1_hostname}} {{es_nodenames.0.node1_hostname}}
{{es_nodenames.0.node2_public_ip}}    {{es_nodenames.0.node2_hostname}} {{es_nodenames.0.node2_hostname}}
{{es_nodenames.0.node3_public_ip}}    {{es_nodenames.0.node3_hostname}} {{es_nodenames.0.node3_hostname}}
